@charset "utf-8";

header {
    background-color: rgb(99, 231, 180);
}

.left_a_right {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

header, header a {
    color: white;
}

.left {
    font-size: 30px;
}

.right {
    font-size: 18px;
}

main {
    background-color: rgb(219, 217, 217);
}

.center {
    display: flex;
    justify-content: center;
}

.head {
    font-size: 35px;
    padding: 30px;
}