@charset "utf-8";

main {
    background-color: rgb(219, 217, 217);
}

.center {
    display: flex;
    justify-content: center;
}

.head {
    font-size: 35px;
    padding: 30px;
}

.form {
    text-align: center;
}

.form input {
    height: 50px;
    width: 300px;
}

.parent {
    display: flex;
    justify-content: center;
}

.child {
    text-align: center;
    padding: 50px;
}

button {
    height: 35px;
    width: 90px;
    font-size: 20px;
}