@charset "utf-8";

main {
    background-color: rgb(219, 217, 217);
}

.center {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    display: block;
}

.head {
    font-size: 35px;
    padding: 30px;
}

.box {
    font-size: 21px;
    height: 50px;
    width: 500px;
    background-color: white;
    padding: 10px;
    border: solid 1px;
    border-radius: 3px;
}